html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #fff;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.toastui-editor-toolbar {
    height: 2.5rem !important;         /* 원하는 높이로 조정 */
    min-height: 2rem !important;
    align-items: center !important; /* 수직 정렬도 함께 */
}